<%= render 'layouts/heading' %>
<h2>Refferal Letter</h2>

<div class="all-content">
  <div class="standard-side">
    <div class="basic">
        <h3>Basic Info</h3>
        <%= form_for @basics do |f| %>

        <p>Your Name:
        <%= f.text_field :yname %></p>

        <p>Your City/State/Zip:
        <%= f.text_field :ycity %></p>

        <p>Your Phone:
        <%= f.text_field :yphone %></p>

        <p>Your Email:
        <%= f.text_field :yemail %></p>

    </div>

    <div class= "companies">
        <h3>Company Info</h3>
        <p>Company Name:
        <%= f.text_field :cname %></p>

        <p>Company City/State/Zip
        <%= f.text_field :ccity %></p>

        <p>Company Phone
        <%= f.text_field :cphone %></p>

        <p>Company E-mail
        <%= f.text_field :cemail %></p>

    </div>
  </div>

    <div class="letter-content">
        <h3><span class= "secondary-color2">Main Content</span></h3>
        <p>Date: <%= f.text_field :date %></p>
        <p>Point of Contact first name: <%= f.text_field :POCfirstname %> LastName: <%= f.text_field :POClastname %></p>
        <p>Dummy Data</p>
        <p>(Dear Ms./Mrs./Mr.) Point of Contact last name: <%= f.text_field :POClastname %></p>
        <p>I was recently made aware of a job opportunity at
            "Company Name"
          by <em><span class="secondary-color">reference:</span></em><%= f.text_field :reference %>. I was excited to learn about this position because <em><span class="secondary-color">relavent position related information:</span></em><%= f.text_field :position_info %>. I believe that I could be the perfect candidate for the position because <em><span class="secondary-color">relevant skills:</span></em><%= f.text_field :skills %>. Thank you for taking the time to go over my credentials, I hope to get the chance to meet with you soon.
        </p>


        <p>Sincerely yours/Yours Truly/Best Wishes</p>
        <p>"Your Name"</p>

        <div class= "centered-button2">
          <%= f.submit %>
          <!-- </button><button class="to-new"><a href = "/basics/:id">Customize All</a></button> -->
        </div>
        <% end %>

    </div>
</div>
